In [1]:
import pandas as pd
import os
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
verse19 = '/data1/practical-sose23/dataset-verse19/derivatives'
verse20 = '/data1/practical-sose23/dataset-verse20/derivatives'
master_df = pd.read_excel("/data1/practical-sose23/castellvi/team_repo/3D-Castellvi-Prediction/src/dataset/VerSe_masterlist.xlsx")

verse19_list = os.listdir(verse19)
verse20_list = os.listdir(verse20)

In [3]:
master_df

      Id       Full_Id Castellvi 2a/3a Side Sacrum Seg Last_L  Split  Comment
0      4  sub-verse004         0        NaN       True     L5    NaN      NaN
1      5  sub-verse005         0        NaN       True     L5    NaN      NaN
2      6  sub-verse006         0        NaN       True     L5    NaN      NaN
3      7           NaN       NaN        NaN        NaN    NaN    NaN      NaN
4      8  sub-verse008         0        NaN       True     L5    NaN      NaN
..   ...           ...       ...        ...        ...    ...    ...      ...
320  824  sub-verse824         0        NaN       True     L5    NaN      NaN
321  825  sub-verse825         0        NaN       True     L5    NaN      NaN
322  826  sub-verse826         0        NaN       True     L5    NaN      NaN
323  833  sub-verse833        2b        NaN       True     L5    NaN      NaN
324  835  sub-verse835         0        NaN       True     L5    NaN      NaN

[325 rows x 8 columns]

In [9]:

no_side = ['0', '1a', '1b', '4']
side_2 = ['2a', '2b']
side_3 = ['3a', '3b']
master_df
counts = [len(master_df[master_df['Castellvi'].astype(str) == c]) for c in no_side]
counts2 = [len(master_df[master_df['Castellvi'].astype(str) == c]) for c in side_2]
counts3 = [len(master_df[master_df['Castellvi'].astype(str) == c]) for c in side_3]
total_count = sum(counts)
total_count2 = sum(counts2)
total_count3 = sum(counts3)

counts = [total_count, total_count2, total_count3]

In [10]:
weights = [1 / c for c in counts]

In [11]:
weights

[0.005208333333333333, 0.016666666666666666, 0.024390243902439025]

In [14]:
type(master_df['2a/3a Side'].values[0])

float

In [7]:
Dataset = []
Split = []

In [8]:
for i in master_df.Full_Id:
    if i in verse19_list:
        Dataset.append('VerSe19')
    elif i in verse20_list:
        Dataset.append('VerSe20')
    else:
        Dataset.append(None)
#Dataset

In [9]:
# Assume df is your dataframe and 'Castellvi' is the column you want to stratify
# Split the data into 80% and 10% for training and val and 10% for testing
df = master_df.copy()
df = df.dropna(subset=['Full_Id'])
df['Castellvi'] = df['Castellvi'].astype(str)
train_df, test_df = train_test_split(df, test_size=0.1, stratify=df['Castellvi'], random_state=42)
# Further split the training data into 80% for training and 20% for validation
train_df, val_df = train_test_split(train_df, test_size=0.1, stratify=train_df['Castellvi'], random_state=42)

In [10]:
for i in master_df.Full_Id:
    if i in train_df.Full_Id.values:
        Split.append('train')
    elif i in val_df.Full_Id.values:
        Split.append('val')
    elif i in test_df.Full_Id.values:
        Split.append('test')
    else:
        Split.append(None)

In [11]:
master_df['Dataset'] = Dataset
master_df['Split'] = Split
master_df = master_df[['Id', 'Full_Id', 'Dataset', 'Castellvi', '2a/3a Side', 'Sacrum Seg', 'Last_L', 'Split', 'Comment']]

In [12]:
master_df

,Id,Full_Id,Dataset,Castellvi,2a/3a Side,Sacrum Seg,Last_L,Split,Comment
0,4,sub-verse004,VerSe19,0,NaN,True,L5,train,NaN
1,5,sub-verse005,VerSe19,0,NaN,True,L5,train,NaN
2,6,sub-verse006,VerSe19,0,NaN,True,L5,train,NaN
3,7,NaN,None,NaN,NaN,NaN,NaN,None,NaN
4,8,sub-verse008,VerSe19,0,NaN,True,L5,train,NaN
...,...,...,...,...,...,...,...,...,...
320,824,sub-verse824,VerSe20,0,NaN,True,L5,val,NaN
321,825,sub-verse825,VerSe20,0,NaN,True,L5,train,NaN
322,826,sub-verse826,VerSe20,0,NaN,True,L5,train,NaN
323,833,sub-verse833,VerSe20,2b,NaN,True,L5,train,NaN
324,835,sub-verse835,VerSe20,0,NaN,True,L5,test,NaN

In [15]:
train_df['Castellvi'].value_counts()

0     116
2a     28
2b     20
3b     19
1b     17
1a     12
3a     12
4       5
Name: Castellvi, dtype: int64

In [16]:
val_df['Castellvi'].value_counts()

0     13
2a     3
3b     2
2b     2
1b     2
1a     2
3a     1
4      1
Name: Castellvi, dtype: int64

In [17]:
test_df['Castellvi'].value_counts()

0     15
2a     4
2b     3
3b     2
1b     2
3a     1
4      1
1a     1
Name: Castellvi, dtype: int64